
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.bar{
    /* background-color: rgba(255, 255, 255, 0.904); */
    font-family: 'Eczar', serif;
    font-size: 30px;
}
li{
    background-color:rgba(255, 255, 255, 0.788);
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.brand-nm{
    font-family: 'Bree Serif', serif;
    color: #1b1b1b;
}
.logo{
    height: 60px;width: auto;
}
@media only screen

and (min-device-width: 360px)

and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {
    .logo{
        height: 1.5em;width: auto;
        padding:0
    }
}